.product-preview{
    width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px 30px;
}

.product-preview .product-image{
    width: 200px;
    height: 250px;
}

.product-preview .product-image img{
    max-height: 250px;
    width: 100%;
}